pandas
numpy
yfinance
feedparser
sentence-transformers
faiss-cpu
google-generativeai
langchain
langchain-community
transformers
torch
plotly
python-dotenv
streamlit
scipy
scikit-learn
tabulate
mysql-connector-python
