fastapi
uvicorn[standard]
python-multipart
python-jose[cryptography]
passlib[bcrypt]
pandas
numpy
yfinance
feedparser
faiss-cpu
openai>=1.0.0
langchain
langchain-community
langchain-nvidia-ai-endpoints
plotly
python-dotenv
scipy
scikit-learn
pydantic
aiofiles
requests
